@import "tailwindcss";

:root {
  --background: #f71ca7;       /* Rose pastel */
  --foreground: #171717;         /* Texte foncé */
  --primary: #d63384;            /* Rose framboise - pour boutons */
  --accent: #ffdee9;             /* Rose très clair - hover ou fond clair */
  --border-color: #e2a9b5; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

main {

  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
header {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
